/* start global rules */
:root {
  --main-color: #2183d3;
  --main-color-hover: #2da0ff;
  --background-color:#f2f2f2;
  --transition-time: 0.3s;
  --main-padding:100px
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
/* end global rules */

/* start component */
.main-title {
  margin: 0 auto 80px;
  padding: 15px 30px;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #000;
  font-size: 3rem;
  position: relative;
}
.main-title::after,
.main-title::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.main-title::after {
  left: -40px;
}
.main-title::before {
  right: -40px;
}
.main-title:hover::after {
  z-index: -1;
  animation: left-move 0.3s linear forwards;
}
.main-title:hover::before {
  z-index: -1;
  animation: right-move 0.3s linear forwards;
}
.main-title:hover {
  color: white;
  border-color: white;
  transition-delay: 0.3s;
}
/* end component */

/* start header */
header {
  background-color: white;
  box-shadow: 0 0 10px #000;
  position: relative;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .logo {
  padding: 30px;
  font-size: 1.3rem;
  color: var(--main-color);
  font-weight: bold;
  text-transform: uppercase;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-time);
}
header .logo:hover {
  color: var(--main-color-hover);
}
header .main-nav {
  display: flex;
}
header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 76px;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  transition: var(--transition-time);
}
header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 999;
  top: calc(100% + 1px);
}
@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50px;
  }
  header .main-nav {
    margin: auto;
  }
  header .main-nav > li > a {
    padding: 10px;
    height: 50px;
  }
}
header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition-time);
}
header .main-nav > li > a:hover {
  color: var(--main-color-hover);
  background-color: #f7f7f7;
}
header .main-nav > li > a:hover::before {
  /* left: 0px; */
  width: 100%;
}
header .mega-menu {
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-bottom: 3px solid var(--main-color);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  top: calc(100% + 50px);
  transition: var(--transition-time);
}
header .mega-menu .image {
  max-width: 100%;
  flex-basis: 35%;
}
@media (max-width: 991px) {
  header .mega-menu .image {
    display: none;
  }
}
header .mega-menu .image img {
  max-width: 100%;
}
header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
header .mega-menu .links li {
  font-size: 1.1rem;
  position: relative;
}
header .mega-menu .links li:not(:last-child) {
  border-bottom: 2px solid #aaa;
}
header .mega-menu .links li a {
  display: block;
  padding: 15px;
  margin: 10px 15px;
  color: var(--main-color);
  transition: var(--transition-time);
}
header .mega-menu .links li a:hover {
  color: var(--main-color-hover);
}
header .mega-menu .links li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  width: 100%;
  background-color: #f1f1f1;
  z-index: -1;
  transition: var(--transition-time);
}
header .mega-menu .links li a:hover::before {
  height: 100%;
}
@media (max-width: 767px) {
  header .mega-menu {
    gap: 0;
    padding: 5px;
  }
  header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 2px solid #aaa;
  }
  header .mega-menu .links li a {
    margin: 5px;
    padding: 5px;
  }
}
header .mega-menu .links li a i {
  padding: 0 20px;
}
/* end header */

/* start landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: -1;
  transform: skew(0deg, -7deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 79px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .landing .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.landing .image {
  flex-basis: 50%;
  width: 100%;
}
.landing .image img {
  max-width: 100%;
  /* position: relative; */
  animation: up-and-down 5s linear infinite;
}
.landing .text {
  flex-basis: 50%;
  /* flex: 1; */
}
.landing .text h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: -2px;
}
.landing .text p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #444;
  max-width: 500px;
}
.landing > a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
  transition: var(--transition-time);
  animation: arrow-up-down 1s linear infinite;
}
.landing > a:hover {
  color: var(--main-color-hover);
}
/* end landing */

/* start articles */
.articles {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 40px;
}
.articles .box {
  box-shadow: 0 2px 15px rgb(0, 0, 0,0.2);
  border-radius: 6px;
  overflow: hidden;
  transition: all var(--transition-time);
}
.articles .box:hover{
  box-shadow: 0 2px 15px rgb(0, 0, 0,0.4);
  transform: translateY(-10px);
}
.articles .box img {
  width: 100%;
  max-width: 100%;
}
.articles .text {
  padding: 20px;
}
.articles .text h3 {
  margin: 0;
}
.articles .text p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #333;
}
.articles .info {
  padding: 20px;
  border-top: 1px solid #aaa;
  display: flex;
  justify-content: space-between;
}
.articles .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .info i {
  color: var(--main-color);
  /* animation: arrow-to-left 0.3s linear infinite; */
}
.articles .box:hover .info i {
  color: var(--main-color-hover);
  animation: arrow-to-left 0.3s linear infinite;
}
/* end articles */

/* start gallary */
.gallary{
  position: relative;
  z-index: 1;
  background-color: var(--background-color);
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.gallary .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
}
.gallary .box{
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 15px rgb(0, 0, 0,0.2);
}
.gallary .box .image{
  position: relative;
  overflow: hidden;

}
.gallary .box .image::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(255, 255, 255,0.3);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallary .image:hover:before{
  animation: flash-light 1s;
}
.gallary .image img{
  max-width: 100%;
  transition: var(--transition-time);
  width: 100%;
  height: 100%;
}
.gallary .image:hover img{
  transform: rotate(3deg) scale(1.1);
}
/* end gallary */

/* start features */
.features{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
/* end features */

/* start animation */
@keyframes up-and-down {
  0%,
  100% {
    transform: translateY(-20px);
    /* top: 0; */
  }
  50% {
    transform: translateY(30px);
    /* top: -50px; */
  }
}
@keyframes arrow-up-down {
  0%,
  30%,
  50%,
  70%,
  100% {
    transform: translateY(0px);
  }
  40%,
  60% {
    transform: translateY(20px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}
@keyframes arrow-to-left {
  0%,100%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(10px);
  }
}
@keyframes flash-light {
  0%,20%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* end animation */
